vendor/
build/
composer.phar
.env
.DS_Store
._.DS_Store
Thumbs.db
doc/
node_modules/
.idea
storage/clockwork
build/
.phpintel/
._.DS_Store
node/coverage
.scannerwork/
__diff_output__
._*
soluti-sdk-php
*-snapshot-spec-js-*.png
_PRINT.pdf
node/teste_PRINT.pdf
build_info.json
.vscode/

# JSON SCHEMAS
./public/schemas
.swagger.yaml
